@model IEnumerable<TravelTimesApp.Models.TravelTime>

@{
    ViewBag.Title = "Travel Times Viewer";
}

<h2>Travel Times</h2>

<p>
    @Html.ActionLink("Create New Record", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Origin Movement ID
        </th>
        <th>
            Origin Display Name
        </th>
        <th>
            Destination Movement ID
        </th>
        <th>
            Destination Display Name
        </th>
        <th>
            Date Range
        </th>
        <th>
            Mean Travel Time (Seconds)
        </th>
        <th>
            Range Lower Bound Travel Time (Seconds)
        </th>
        <th>
            Upper Bound Travel Time (Seconds)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Origin_Movement_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origin_Display_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination_Movement_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination_Display_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Range)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mean_Travel_Time__Seconds_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Range___Lower_Bound_Travel_Time__Seconds_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Range___Upper_Bound_Travel_Time__Seconds_)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
